
VBox, HBox {

  &.informacoes {
    -fx-border-base: #474141;
    //-fx-border-base: white;
    -fx-border-shadow: -fx-base;
    -fx-light-border: derive(-fx-border-base, 25%);
    -fx-border-color: -fx-light-border -fx-border-base -fx-border-base -fx-light-border;
    -fx-border-insets: 0 1 1 0;
    -fx-background-color: -fx-border-shadow, -fx-background;
    -fx-background-insets: 1 0 0 1, 2;

    -fx-background-radius: 4;
    -fx-border-radius: 4;

    .vlr-conta-real {
      -fx-background-radius: 4;
      -fx-border-radius: 4;
      -fx-background-color: #ff7e2a;
    }

    .vlr-conta-virtual {
      -fx-background-radius: 4;
      -fx-border-radius: 4;
      -fx-background-color: #fdfd6c;
    }

    .tframe-operando {
      //-fx-text-fill: #038043;
      -fx-text-fill: #3dd936;
      -fx-font-family: "Arial";
      -fx-font-weight: bold;
      //-fx-background-color: #f3e365;
      -fx-background-color: #86865a;
      -fx-background-insets: 1 1 1 -4;
      -fx-background-radius: 4;
    }

    .tick-operando-1 {
      //-fx-text-fill: #038043;
      -fx-text-fill: #000; // #3dd936;
      -fx-font-family: "Arial";
      -fx-font-weight: bold;
      -fx-background-color: #a4f398;
      //-fx-background-color: #86865a;
      -fx-background-radius: 4;
    }

    .tick-operando-2 {
      -fx-text-fill: #038043;
      //-fx-text-fill: #3dd936;
      -fx-font-family: "Arial";
      -fx-font-weight: bold;
      -fx-background-color: #f3e365;
      //-fx-background-color: #86865a;
      -fx-background-radius: 4;
    }

    .tick-operando-3 {
      -fx-text-fill: #038043;
      //-fx-text-fill: #3dd936;
      -fx-font-family: "Arial";
      -fx-font-weight: bold;
      -fx-background-color: #f3e365;
      //-fx-background-color: #86865a;
      -fx-background-radius: 4;
    }

    //.tick-waiting-buy {
    //  //-fx-text-fill: #038043;
    //  //-fx-text-fill: #3dd936;
    //  -fx-font-family: "Arial";
    //  -fx-font-weight: bold;
    //  -fx-background-color: #86865a;
    //  //-fx-background-color: #86865a;
    //  -fx-background-radius: 4;
    //}

  }

}
