//.down {
//  -fx-background-radius: 0 0 4 4;
//  -fx-border-radius: 0 0 4 4;
//}
//
//.down-left {
//  -fx-background-radius: 0 0 0 4;
//  -fx-border-radius: 0 0 0 4;
//}
//
//.down-right {
//  -fx-background-radius: 0 0 4 0;
//  -fx-border-radius: 0 0 4 0;
//}


Label {
  -fx-font-size: $fontSizeh6;
  -fx-font-family: $fontFamily;
  -fx-text-fill: white;
  -fx-padding: 0 4;
  //-fx-opacity: 0.6;
  //&.float {
  //  -fx-font-size: $fontSizeh5;
  //  -fx-background-color: #ff6600;
  //  //-fx-border-radius: 10 10 0 0;
  //  -fx-background-radius: 8 8 0 0;
  //  -fx-background-insets: 0 0 0 0;
  //  -fx-text-fill: #ffffff;
  //}

  &.tick-ultimo {
    -fx-text-fill: #ffffff;
    -fx-background-radius: 6;
    -fx-background-insets: 0;

    -fx-font-family: $fontFamilyB;
    -fx-font-weight: bold;
    -fx-font-size: 21px;
  }

  &.lbl_titulo {
    -fx-font-size: $fontSizeh1;
    -fx-font-weight: bold;
    -fx-alignment: center;
  }

  &.img_background_principal {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-image: url("../../image/painel/principal.png") no-repeat center;
  }

  &.copyright {
    -fx-text-fill: #ff6600;
    -fx-font-size: $fontSizeh5;
  }

}